/* Variables */
:root {
  --main-bg-color: #006DAA;
  --toolbar-bg-color: #0353A4;
  --textbox-bg-color: #B9D6F2;
  --icon-hover-color: #B9D6F2;
}

body {
  background: var(--main-bg-color);
}

.hidden {
  display: none !important;
}

.toolbar {
  background: var(--toolbar-bg-color);
  padding: 0 10px;
  color: #fff;
}

#editorWrapper {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#editor {
  min-height: 200px;
  resize: vertical;
  outline: none;
}

#editorWrapper textarea {
  background-color: var(--textbox-bg-color);
}

textarea, #preview {
  padding: 15px;
}

#previewWrapper {
  max-width: 800px;
  min-height: 200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

#editorWrapper, #previewWrapper {
  background-color: var(--textbox-bg-color);
  border: 1px solid #000;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.5);
  border-top: none;
}

#editorWrapper.maximized, #previewWrapper.maximized {
  max-width: 96%;
}

.maximized {
  width: 96%;
  min-height: 100vh;
  margin: auto;
}

.maximized textarea {
  min-height: 95vh !important;
  resize: none !important;
}

.fa-compress:hover, .fa-expand-arrows-alt:hover {
  cursor: pointer;
  color: var(--icon-hover-color);
}

/* Markdown Styles */

#preview h1 {
  border-bottom: 2px solid #000;
}

#preview h2 {
  border-bottom: 1px solid #000;
}

#preview code {
  background: white;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

#preview pre {
  background: white;
  padding: 5px 0 5px 5px;
}

#preview blockquote {
  border-left: 3px solid #000;
  color: #000;
  padding-left: 5px;
  margin-left: 25px;
}

#preview table {
  border-collapse: collapse;
}

#preview td, #preview th {
  border: 2px solid #000;
  padding-left: 5px;
  padding-right: 5px;
}